.navbar {
    background-color: #CCC;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar-titre {
    font-size: 24px;
    font-weight: bold;
    font-family: arial;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.4s;
}