/* TEXTE */
.texte h1 {
    font-size: 36px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.texte p {
    font-size: large;
    line-height: 1.7;

}

.texte {
    max-width: 50%;
}

/* CAROUSEL */
.carousel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;
}

.carousel-inner{
    height: 400px;
}

.carousel-item > img{
    position: absolute;
    left: 50%;
    top: 25%;

    transform: translate(-50%,-25%);
}




/* RESPONSIVE */
@media (max-width: 900px) {
    .actualites {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .texte p {
        margin: 0 auto;
    }
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actualites{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}