form{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}
form input{
    width: 30%;
    height: 50px;
    opacity: 50%;
    font-size: xx-large;
}

label{
    margin-top: 25px;
    font-size: xx-large;
}

textarea{
    opacity: 50%;
    width: 50%;
    height: 300px;
    font-size: xx-large;
}

h1 {

    text-align: center;
    font-size: 50px;
}

.content {
    margin-top: 150px;
}