.histoire {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.histoire-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.histoire-content h1 {
    color: white;
    font-size: 50px;
}

.histoire-content > p{
    width: 50%;
    align-self: center;
    text-align: justify;
    color: white;
    font-size: x-large;
}