footer >div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    padding: 40px 60px;
    bottom: 0;
    background: linear-gradient(to right, #2a1409, #1c0f07);
    border-top: solid 1px;
}