.produit >img{
    width: 300px;
}

.produits {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}